#container {
  display: flex;
  gap: 80px; /* khoảng cách giữa các div con */
  padding: 80px;/* khoảng cách bên trong của container */
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items:center; /* căn giữa theo chiều dọc */
  color:#ffffff;
  font-family: 'Arial', sans-serif; 
}

.text { 
  flex: 1; 
}

.img {  
  flex: 1;
}       

.logo {
  width: 700px;
  height: 700px;
}
h1{
    font-size: 60px;
}
p{
    font-size: 15px;
    line-height: 1,9;
    letter-spacing: 0,5px;
    margin-top: 60px; /* khoảng cách trên đoạn văn */
    width: 400px; 

}
hr{
  width: 100px; /* chiều rộng của đường kẻ ngang */
  border: 1px solid #ffffff;/* màu sắc của đường kẻ ngang */
  margin-left: 0px; /* khoảng cách bên trái đường kẻ ngang */
}
body {
  background-color: #1C1C1C;
}

